* {
    margin: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

header {
    z-index: 1;
}

.navbar{
    background-color: #ffffff;
}

.background {
    background-color: #f2f2f2;
    height: 500px;
}

#Catalog {
    background-color: aliceblue;
}

.img {
    display: flex;
    justify-content: space-around;
}

.img img {
    width: 300px;
    margin: 10px 0;
    display: flex;
}